/* .quotes{
  text-align: left;
}
.wisdom{
  color: red;
}
.author{
  font-style: italic;
  color: red;
} */
.jumbotron {
  background-color: DodgerBlue ;
  margin-right: -100px;
  margin-left:  -100px;
}
